html, body{
	margin: 0;
	padding: 0;
    height: 100%;
    width: 100%;
    display: block;
	font-family: 'Roboto', sans-serif;

    background-image: url("../img/background.png");
    background-repeat: repeat-x;
    background-color: #fff;
}

#mobile-menu-toggle, .mobile-menu {
    display: none;
}

.header {
    margin: 0 auto;
    padding: 0 0 10px;
    width: 1250px;
    height: 70px;
    background-color: rgba(0,0,0,0.95);
    z-index: 10;
}

.header > .inner {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    margin: 0 auto;
    padding: 0 10px;
    width: calc(100% - 40px);

    border-top: 2px solid red;
}

.header > .inner > .logo {
    float: left;
}

.header > .inner > .logo > a {
    color: #ff0000;
    text-decoration: none;
    line-height: 68px;
    font-size: 40px;
}

.header > .inner > .logo > a > span {
    color: #ffffff;
    font-weight: 700;
}

.header > .inner > .menu > ul {
    margin: 22px 0;
    padding: 0;
    float: right;
    display: block;
}

.header > .inner > .hamburger {
    margin: 15px 0;
    padding: 0;
    float: right;
    display: none;
}

.header > .inner > .hamburger > label > i {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
}

.header > .inner > .menu > ul > li {
    display: inline-block;
    margin-right: 40px;
}

.header > .inner > .menu > ul > li:last-child {
    margin-right: 0;
}

.header > .inner > .menu > ul > li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    -o-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
}

.header > .inner > .menu > ul > li:hover:after {
    width: 100%;
    background: red;
}

.header > .inner > .menu > ul > li > a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

#mobile-menu-toggle:checked ~ .mobile-menu {
    top: 0;
}

/* Mobile menu */
.mobile-menu {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0,0,0,0.7);

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    overflow: hidden;
}

.mobile-menu > .exit {
    margin: 16px 31px 0 0;
    padding: 0;
    float: right;
    display: block;
}

.mobile-menu > .exit > label > i {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
}

.mobile-menu > .menu {

    margin: 80px 0 0;
    width: 100%;
}

.mobile-menu > .menu > ul {
    padding: 0;
    margin: 0;
    display: block;
}

.mobile-menu > .menu > ul > li {
    display: block;
    width: 100%;
    height: 80px;
    text-align: center;
}

.mobile-menu > .menu > ul > li > a {

    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    line-height: 80px;

    background-color: black;
}

/* Banner */
#blink {
    -webkit-animation-name: anim-blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: anim-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    font-weight: 700;
}

.wrapper {
    margin: 0 auto;
    width: 1250px;
}

.wrapper > .banner {
    width: 100%;
    height: 300px;

    background-color: gray;
}

.banner > p {
    margin: 0;
    padding: 0;
    line-height: 300px;
    text-align: center;

    font-size: 60px;
}

.banner > p > span {
    color: #fff;
}

.banner > p > #blink {
    color: #ff0000;
}

/* Index content */
.content {
    padding: 0 0 30px;
    margin: 15px 0 0;
    width: calc(100% - 400px);
    height: auto;
    background-color: #fff;
    position: relative;

    float: left;
}

.content:before {
    padding: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: -22px;
    width: 100%;
    height: 20px;
    background-color: #000;
    border-top: 2px solid #ff0000;;
}

.content > h1 {
    padding: 0;
    margin: 10px 30px;
}

.content > h2 {
    padding: 0;
    margin: 10px 30px;
}

.content > img {
    margin: 5px;
    padding: 0;
    float: right;
    max-width: 98%;
}

.content > b {
    padding: 0;
    margin: 0 30px;
}

.content > p {
    padding: 0;
    margin: 5px 30px;
}

.content > p > i {
    padding: 0 10px 0 0;
}

.content > .video {
    text-align: center;
}

/* Featured list */
.featuredlist {
    padding: 0 0 30px;
    margin: 15px 0 0;
    width: 390px;
    height: auto;
    float: right;
    background-color: #ffffff;
    position: relative;
}

.featuredlist:before {
    padding: 0;
    content: "";
    display: none;
    position: absolute;
    bottom: -22px;
    width: 100%;
    height: 20px;
    background-color: #000;
    border-top: 2px solid #ff0000;;
}

.featuredlist h3 {
    padding: 0;
    margin: 15px 0 10px;
    text-align: center;
}

.featureditem {
    width: 97%;
    margin: 0 auto 8px;
    position: relative;
}

.featureditem:first-child {
    margin: 15px 0;
}

.featureditem a img {
    -webkit-transition : -webkit-filter 500ms linear;
    -moz-transition: .5s filter ease;
    -o-transition: .5s -o-filter ease;
    transition: 0.5s filter ease, 0.5s -webkit-filter ease;
}


.featureditem a .overlay {
    -webkit-transition: .5s opacity ease;
    -moz-transition: .5s opacity ease;
    -o-transition: .5s opacity ease;
    transition: 0.5s opacity ease;
}

.featureditem:hover > a img{
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.featureditem:hover > a .overlay {
    opacity: 1;
}

.featureditem > a > img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}

/* Projects */
.projects {
    width: 100%;
    height: 600px;
    background-color: #ffffff; }

.post {

}

.post > a {
    text-decoration: none;
    margin: 10px 0;
    padding: 0 30px;
}

.post > a > h3 {
    margin: 5px 0;
    padding: 0 30px;
    font-size: 25px;
    color: #000000;
}

.post > a > h1 {
    margin: 5px 0;
    padding: 0 30px;
    color: #000000;
}

.post > a > img {
    margin: 0 auto;
    display: block;
    text-align: center;
    max-width: 98%;
}

.post > p {
    margin: 10px 0;
    padding: 0 30px;
}

.post > .video {
    text-align: center;
}

.post > .footer {
    padding: 0 30px;
    width: calc(100% - 60px);
    height: 40px;
    display: block;
}

.post > .footer > h4 {
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
}

.post > .footer > a {
    margin: 0;
    padding: 0;
    float: right;
    display: inline-block;
}

.featureditem > a > h3 {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
    color: #ffffff;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-align: start;
}

.featureditem > a > .overlay {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: calc(100% - 4px);
    top: 0;
    left: 0;
    border-bottom: 3px solid red;
    opacity: 0;
    z-index: 10;
}

/* Small desktop */
@media screen and (max-width: 1250px) {
    .header { width: 100%; }
    .wrapper { width: 100%; }
    .content { width: calc(100% - 30vw); }
    .featuredlist { width: 30vw; }
}

/* Tablet CSS */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .header > .inner > .menu { display: none; }
    .header > .inner > .hamburger { display: block; }
    .mobile-menu { display: block; }
    .content { float: initial; width: 100%; margin: 15px 0 0; }
    .content .video {
        margin: 30px auto 0;
        width: 97%;
        position:relative;
        padding-bottom:56.25%;
        height:0;
        overflow:hidden;
    }
    .video iframe, .video object, .video embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    .featuredlist { float: initial; margin: 0 auto; width: 100%;}
    .featuredlist h3 { padding: 10px; margin: 0; }
    .content:before { display: none; }
    .featuredlist:before { display: block; }
}

/* Mobile CSS */
@media screen and (min-width: 480px) and (max-width: 768px) {
    .header > .inner > .menu { display: none; }
    .header > .inner > .hamburger { display: block; }
    .header > .inner > .logo > a { font-size: 30px; }
    .mobile-menu { display: block; }
    .banner > p { font-size: 40px; }
    .content { float: initial; width: 100%; margin: 15px 0 0; }
    .content { float: initial; width: 100%; margin: 15px 0 0; }
    .content .video {
        margin: 30px auto 0;
        width: 97%;
        position:relative;
        padding-bottom:56.25%;
        height:0;
        overflow:hidden;
    }
    .video iframe, .video object, .video embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .featuredlist { float: initial; margin: 0 auto; width: 100%;}
    .featuredlist h3 { padding: 10px; margin: 0; }
    .content:before { display: none; }
    .featuredlist:before { display: block; }
}

/* Really tiny displays */
@media screen and (max-width: 479px) {
    .header > .inner > .menu { display: none; }
    .header > .inner > .hamburger { display: block; }
    .header > .inner > .logo > a { font-size: 30px; }
    .mobile-menu { display: block; }
    .banner > p { font-size: 40px; }
    .content { float: initial; width: 100%; margin: 15px 0 0; }
    .content { float: initial; width: 100%; margin: 15px 0 0; }
    .content .video {
        margin: 30px auto 0;
        width: 97%;
        position:relative;
        padding-bottom:56.25%;
        height:0;
        overflow:hidden;
    }
    .video iframe, .video object, .video embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .featuredlist { float: initial; margin: 0 auto; width: 100%;}
    .featuredlist h3 { padding: 10px; margin: 0; }
    .content:before { display: none; }
    .featuredlist:before { display: block; }
}

/* Portrait phones */
@media screen and (max-width: 768px) and (orientation: landscape) {
    .header > .inner > .menu { display: none; }
    .header > .inner > .hamburger { display: block; }
    .header > .inner > .logo > a { font-size: 30px; }
    .mobile-menu { display: block; }
    .banner > p { font-size: 40px; }
    .mobile-menu > .menu > ul > li {
        float: left;
        display: inline-block;
        width: 50%;
    }
    .content { float: initial; width: 100%; margin: 15px 0 0; }
    .content { float: initial; width: 100%; margin: 15px 0 0; }
    .content .video {
        margin: 30px auto 0;
        width: 97%;
        position:relative;
        padding-bottom:56.25%;
        height:0;
        overflow:hidden;
    }
    .video iframe, .video object, .video embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .featuredlist { float: initial; margin: 0 auto; width: 100%;}
    .featuredlist h3 { padding: 10px; margin: 0; }
    .content:before { display: none; }
    .featuredlist:before { display: block; }
}

/* Animations */
@keyframes anim-blink {
    0% {opacity: 0; }
    50% {opacity: 1; }
    100% {opacity: 0; }
}

@-webkit-keyframes anim-blink {
    0% {opacity: 0; }
    50% {opacity: 1; }
    100% {opacity: 0; }
}